#minimap {
    width: 100%;
    height: 200px;
    background-color: #1b1b1b;
    overflow: hidden;
    text-align: center;
}

#minimap.edit .tile:hover {
    background-color: rgba(255, 215, 0, 0.4);
}

#minimap .tile {
    display: inline-block;
    overflow: visible;
    float:left;
    font-height: 1em;
    line-height: 100%;
    vertical-align: bottom;
}

#minimap .tile.first {
    clear:left;
}

#editTile {
    display: none;
}

#items {
    background-color: #1e1e1e;
}

#gameSideBar .headline {
    text-align: center;
}
